body {
	margin:0;
	color:#3d4044;
	font:17px/20px 'Proxima Nova Rg' , Arial, Helvetica, sans-serif;
	min-width:320px;
	background: #fafafa;
}
@font-face {
	font-family: 'proxima_novasemibold';
	src: url('../fonts/fontsfree-net-proxima-nova-sbold-webfont.woff2') format('woff2'),
	url('../fonts/fontsfree-net-proxima-nova-sbold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_novabold';
	src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
	url('../fonts/proximanova-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue.woff2') format('woff2'),
	url('../fonts/HelveticaNeue.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
	url('../fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
input[type=submit]:hover{cursor:pointer;}
img {border-style:none;}
a {
	text-decoration:none;
	color:#607e86;
}
a:hover {text-decoration:underline;}
a:active {background-color: transparent;}
input,
textarea,
select {
	vertical-align:middle;
	color:#333;
	font:100% Arial, Helvetica, sans-serif;
}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
input[type=text], input[type=password], input[type=file], textarea, input[type=submit]{
	-webkit-appearance:none;
}
:-ms-input-placeholder{color:#333;}
::-webkit-input-placeholder{color:#333;}
::-moz-placeholder{
	color:#333;
	opacity: 1;
}
* {
	box-sizing: border-box;
}
#wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
	background:#fdfdfd url(../images/top-bg.png) no-repeat;
}
#header{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background: rgba(255,255,255, 0.6);
		width: 100%;
		height: 100%;
	}
	.container{
		padding: 17px 0 30px;
		position: relative;
	}
	.logo-box{
		padding: 0 0 0 60px;
	}
}
#ui-datepicker-div{
	z-index: 10 !important;
}
.ui-widget-header{
	background: none !important;
	border: none !important;
}
.ui-widget{
	font-family: 'Helvetica Neue' !important;
}
.ui-state-default{
	border: none !important;
}
.header-holder{
	padding: 25px 0 0 10%;
	.row{
		padding:  0 0 15px;
		strong{
			font-weight: normal;
			font-size: 35px;
			padding:  0 20px 0 0;
		}
		.date{
			color: #4090db;
			font:15px/17px 'Helvetica Neue' , Arial, Helvetica, sans-serif;
			display:inline-block;
			padding: 7px;
			border: 1px solid #4090db;
			border-radius: 5px;
		}
		.box{
			position: relative;
		}
	}
	.list{
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		font-size: 17px;
		span{
			font-family: 'proxima_novabold';
		}
		li{
			padding: 0 22px 0 0;
		}
	}
	form{
		display: flex;
	}
	input[type=text]{
		border-radius: 5px;
		border: 1px solid #ccc;
		font:14px/16px 'Helvetica Neue';
		padding: 7px 40px 6px 10px;
		outline: none;
		margin: 0 15px 0 0;
		height: 32px;
	}
	label{
		padding: 3px 10px 0  0;
		margin: 4px 0 0;
	}
	.btn-primary{
		position: absolute;
		right: 44px;
		top: 1px;
		background:#ebebeb url(../images/clear-btn.png) no-repeat 50% 50%;
		padding: 15px;
		text-indent: -9999px;
		font-size: 0;
		border: 0;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		cursor: pointer;
	}
	.ui-datepicker-trigger{
		position: absolute;
		right: 16px;
		top: 1px;
		border: 0;
		background: #ebebeb;
		padding: 4px 5px 3px;
		border-radius: 0 5px 5px 0;
	}
}
.container{
	max-width: 936px;
	margin: 0 auto;
	display: flex;
	width: 100%;
}
#main{
	padding: 0 0 75px;
	background: url(../images/bg-bottom.png) no-repeat 100% 95%;
}
.events-block{
	font-family: 'proxima_novasemibold';
	font-size: 17px;
	line-height: 20px;
	display: flex;
	flex-wrap: wrap;
	.event{
		position: relative;
		margin: 0 10px 30px;
		display: none;
		img{
			vertical-align: top;
			max-width: 100%;
		}
		&:before{
			content:'';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: rgba(0,0,0, 0.5);
		}
	}
	.info-holder{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 5;
		color: #fff;
		padding: 10px 6px 20px 20px;
	}
	.video-icon{
		position: absolute;
		right: 10px;
		top: 10px;
		width: 38px;
		height: 28px;
		background: url(../images/icons.png) no-repeat 0 -56px;
	}
	.row{
		width: 100%;
		display: flex;
		padding: 10px 0;
		&:nth-child(3){
			padding: 30px 0 0;
			justify-content: center;
		}
		span{
			width: 100px;
		}
		strong{
			font-family: 'proxima_novabold';
			font-weight: normal;
			background: url(../images/icons.png) no-repeat;
			min-width: 80px;
			padding: 0 5px 0 27px;
		}
		.comments{
			background-position: 0 -30px;
		}
		em{
			font-style: normal;
		}
	}
	&.list{
		.event{
			width: 100%;
			display: flex;
			margin: 0 10px 11px;
			background: #fff;
			display: none;
			&:before{
				display: none;
			}
			img{
				width: 95px;
				align-self: flex-start;
			}
		}
		.row{
			padding: 0;
			display: block;
			span{
				width: 100%;
				display: block;
				padding: 0 0 6px;
			}
			em{
				em{
					display: block;
					padding: 6px 0 0;
				}
			}
		}
		.row:nth-child(3){
			padding: 0;
		}
		.info-holder{
			position: static;
			color: #000;
			display: flex;
			align-items: center;
			padding: 10px 6px 20px 31px;
		}
		.row strong{
			background-position: 0 -99px;
			min-width: 88px;
			display: inline-block;
			&.comments{
				background-position: 0 -134px;
			}
		}
	}
	.btn-holder-more{
		width: 100%;
		text-align: center;
		a{
			display: inline-block;
			text-transform: uppercase;
			font-size: 12px;
			min-width: 126px;
			padding: 7px 10px;
			border: 1px solid #000;
			border-radius: 25px;
			color: #000;
			&:hover{
				border-color: #4090db;
				color: #4090db;
				text-decoration: none;
			}
		}
	}
}
.event-switcher{
	padding: 20px 0 25px;
	width: 100%;
	.switcher{
		list-style: none;
		padding: 0;
		margin: 0 3px 0 0;
		display: flex;
		justify-content: flex-end;
		li{
			margin: 0  10px;
			button{
				border: none;
				width: 27px;
				height: 24px;
				display: block;
				background: url(../images/icons.png) no-repeat 0 -162px;
			}
		}
		li{
			button.grid.active{
				background-position: 0 -204px;
			}
		}

		li{
			button.list{
				background-position: 0 -245px;
			}
		}
		li{
			button.list.active{
				background-position: 0 -295px;
			}
		}
	}
}

@media only screen and (max-width: 940px){
	.events-block{
		justify-content: center;
	}
}

@media only screen and (max-width: 768px){
	#wrapper{
		background: none;
	}
	#main{
		background: none;
	}
	#header .logo-box{
		padding: 0 0 0 20px;
	}
	.header-holder{
		padding: 25px 0 0 20px;
	}
	#header{
		background: rgb(181,223,202);
		background: -moz-linear-gradient(top,  rgba(181,223,202,1) 0%, rgba(179,218,200,1) 22%, rgba(176,215,199,1) 50%, rgba(173,210,198,1) 76%, rgba(169,205,195,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(181,223,202,1) 0%,rgba(179,218,200,1) 22%,rgba(176,215,199,1) 50%,rgba(173,210,198,1) 76%,rgba(169,205,195,1) 100%);
		background: linear-gradient(to bottom,  rgba(181,223,202,1) 0%,rgba(179,218,200,1) 22%,rgba(176,215,199,1) 50%,rgba(173,210,198,1) 76%,rgba(169,205,195,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5dfca', endColorstr='#a9cdc3',GradientType=0 );
	}
}
@media only screen and (max-width: 640px){
	#header .container{
		display: block;
	}
	#header .logo-box{
		text-align: center;
		padding: 0;
	}
	.header-holder{
		padding: 20px 10px 0;
		text-align: center;
	}
	.header-holder .list{
		justify-content: center;
	}
	.header-holder form{
		justify-content: center;
	}
}
@media only screen and (max-width: 440px){
	.header-holder .row strong{
		display: block;
		padding: 0 0 20px;
	}
	.header-holder form{
		display: block;
	}
	.header-holder input[type="text"]{
		width: 100%;
		margin: 0;
	}
	.header-holder .ui-datepicker-trigger{
		right: 1px;
	}
	.header-holder .btn-primary{
		right: 29px;
	}
	.header-holder .row .box{
		margin: 5px 0 10px;
	}
	#header .container{
		padding: 15px 0 0;
	}
	.events-block.list .info-holder{
		flex-wrap: wrap;
		padding: 0px 6px 13px 18px;
	}
	.events-block.list .row{
		padding: 0 0 15px;
	}
	.events-block.list .row em em{
		display: inline;
	}
}